/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

/* Wiki Page */
h1 {
    text-align: center;
    color: brown;
    text-decoration-line: underline;
    background-color: bisque;
}

#contents {
    padding-left: 5px;
    border: 2px rgb(68, 45, 9) solid;
    background-color: rgb(227, 185, 118);
    text-align: left;
    float: left;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    width: 160px;
    margin-right: 13px;
    margin-left: 13px;

}

#intro {
    margin-left: 5px;
    text-align: center;
    padding: 20px;
    font-family: 'Aoboshi One', serif;
}

#sub-header1{
    font-style: italic;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: brown;
}

#title {
    font-size: 90px;
    font-family: 'Rakkas', cursive;
    font-style: italic;
    padding-left: 39px;
    padding-top: 22px;

}

#main {
    background-color: rgb(225, 195, 156); margin: 0px;
}

#Plot {
    margin-top: 20px;
    
}

#information {
    padding: 30px;
}

#YGO-Protag {
    text-align: center;
}

body {
    margin: 0px;
    background-color: rgb(225, 195, 156);
}

.context {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    font-family: 'Aoboshi One', serif;
}

.sub-head {
    font-family: 'Rakkas', cursive;
    color: darkred;
    background-color: bisque;
}