.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 2fr 0.5fr;
    grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: aqua;
}

nav {
    grid-area: sidebar;
    background-color: aquamarine;
}

main {
    grid-area: main;
    background-color: blueviolet;
}

footer {
    grid-area: footer;
    background-color: burlywood;
}