

body {
    margin: 0;
    
    background-image: url(https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: darkviolet;
    flex-direction: column;
    border: 4px solid magenta;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}